main{
	height: 100vh;
	padding: 50px 0;
}

.background{
	position: relative;
    -webkit-box-shadow: 120px 80px 40px 20px $accent;
    box-shadow: 0px 0px 93px -63px $accent;
}

.foreground{
	position: relative;
	bottom: 190px;
}

.background, .foreground{
	max-width: 600px;
}

.background img, .foreground img,{
	max-width: 600px;
	position: center;
}

.blank-image{
	max-width: 600px;
	height: 10px;
}

.object img,  {
	width: 200px;
	display: none;
}	
	
button.flickity-prev-next-button {
  background: none;
}

button.flickity-prev-next-button.next{
	right: -50px;

}

button.flickity-prev-next-button.previous{
	display: none;
}

.album-title{
	font-size: 5rem;
}
    
