.accordion p, label{
	line-height: 2.2rem;
	word-spacing: 5px;
	color: #287b8b;
	margin: 0;
}

.accordian h3{
	border-bottom: 1px solid;
}

.ui-accordion .ui-accordion-header:hover {
	color: $pink;
}

// BACKGROUND OPTION

.background{
	position: relative;
    -webkit-box-shadow: 120px 80px 40px 20px $accent;
    box-shadow: 0px 0px 93px -63px $accent;
}

.foreground{
	position: relative;
	bottom: 190px;
}

.background, .foreground{
	width: 600px;
}

.background img, .foreground img,{
	width: 600px;
}
	
button.flickity-prev-next-button {
  background: none;
}

button.flickity-prev-next-button.next{
	right: -50px;
	transition: all 1s;
}

button.flickity-prev-next-button.previous{
	display: none;
}

.opacity{
	visibility: hidden;
	opacity: 0;
}


.albumTitle{
	font-size: 6rem;
	z-index: 99;
	position: absolute;
	cursor: move;
	bottom: -400px;
	left: 200px;
}


// DRAGGABLE OPTION
.thumbnail{
	img{
		width: 80px;
		cursor: crosshair;
		margin: 0 10px;
	}
}

.randomobject{
	display: none;
}

.object img{
	width: 250px; 
	position: absolute;
	cursor: move;
	top: -476px;
	left: 30px;
}

.object-gallery{
	li{
		float: left;
	}
}

.visible{
	display: block;
}

.object-thumbnails{
	display: flex;
	flex-wrap: wrap;
}


// ALBUM TITLE OPTION

button, input, select, textarea {
	width: 45%;
	height: 40px;
	background-color: $background;
	color: $accent;
	border: 1px solid $accent;
	border-radius: 25px;
	padding: 0 18px;
}

.typed-label{
	float: left;
}

#typed-title{
	width: 150px;
	margin-left: 5px;
	float: left;
	margin-bottom: 10px;
}

#randomTitle{
	margin-bottom: 20px;
}

#custom-title, #randomTitle{
	width: 70%;
	background: $accent;
	color: $background;
	display: block;
	margin: 0 auto;
}

.option-title {
	span{
	text-align: center;
	display: block;
	margin: 20px 0;
	}
}

.random-title{
	text-align: center;
}

select{
	width: 210px;
	 -webkit-appearance: none;
	 background: $accent;
	color: $background;
	margin: 0 auto;
    display: block;
	option{
		font-size: 2rem;
	}
}

.font-select{
	text-align: center;
    margin-top: 20px;
    display: block;
}


// SHARE
.option-share{
	display: flex;
}

// footer
footer{
	text-align: right;
	padding-right: 25px;
	font-size: 1rem;
	margin-top: 100px;
	clear: both;
	color: #287b8b;
	  -webkit-box-shadow: 120px 80px 40px 20px $accent;
    box-shadow: 0px 0px 93px -63px $accent;
}