header{
    height: 100vh;
    text-align: center;
    position: relative;
}

.cover-page{
    position:absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.start-button{
    position: absolute;
    bottom: -25%;
    font-size: 32px;
    border-right: 1px solid $accent;
    border-bottom: 1px solid $accent;
    height: 16px;
    width: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.3s;
    &:hover{
       border-right: 1px solid $pink;
      border-bottom: 1px solid $pink;
    }
}


h1{
    font-family: 'Exo', sans-serif;
    font-weight: 900;
    font-size: 5.5rem;
    margin: 0;
}

h2{
    font-family: 'streamster';
    transform: rotate(-15deg);
    font-size: 3rem;
    color: #780fe1;
    margin: 22px 0 100px 0;
    background: -webkit-linear-gradient(#e948f8, $accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}

.glitch {
    position: relative;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.glitch::before {
  left: 2px;
  text-shadow: -1px 0 green;
  background: $background;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim-1 2s infinite linear alternate-reverse;
}
.glitch::after {
  left: -2px;
  text-shadow: -1px 0 pink;
   background: $background;
   animation: glitch-anim-1 2s infinite linear alternate-reverse;
}


@keyframes glitch-anim-1 {
  0% {
    clip: rect(70px, 450px, 76px, 0);
  }
  20% {
    clip: rect(29px, 450px, 16px, 0);
  }
  40% {
    clip: rect(76px, 450px, 3px, 0);
  }
  60% {
    clip: rect(42px, 450px, 78px, 0);
  }
  80% {
    clip: rect(15px, 450px, 13px, 0);
  }
  100% {
    clip: rect(53px, 450px, 5px, 0);
  }
}


@keyframes glitch-anim-2 {
  0% {
    clip: rect(30px, 450px, 78px, 0);
  }
  20% {
    clip: rect(33px, 450px, 27px, 0);
  }
  40% {
    clip: rect(60px, 450px, 10px, 0);
  }
  60% {
    clip: rect(13px, 450px, 65px, 0);
  }
  80% {
    clip: rect(79px, 450px, 8px, 0);
  }
  100% {
    clip: rect(21px, 450px, 47px, 0);
  }
}
   

    

