@font-face {
  font-family: 'alien';
  src: url("../fonts/alien.ttf") format("truetype"); }

@font-face {
  font-family: 'vcr';
  src: url("../fonts/vcr.ttf") format("truetype"); }

@font-face {
  font-family: 'streamster';
  src: url("../fonts/streamster.ttf") format("truetype"); }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  height: 100vh;
  text-align: center;
  position: relative; }

.cover-page {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.start-button {
  position: absolute;
  bottom: -180%;
  font-size: 32px;
  border-right: 1px solid #0ff;
  border-bottom: 1px solid #0ff;
  height: 16px;
  width: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#buildScreen {
  height: 100vh;
  padding: 150px 0 0 0; }

.album-canvas {
  height: 650px; }

.background {
  position: relative;
  -webkit-box-shadow: 120px 80px 40px 20px #0ff;
  box-shadow: 0px 0px 93px -63px #0ff; }

.foreground {
  position: relative;
  bottom: 190px; }

.background, .foreground {
  max-width: 600px; }

.background img, .foreground img {
  max-width: 600px; }

.blank-image {
  max-width: 600px;
  height: 10px; }

button.flickity-prev-next-button {
  background: none; }

button.flickity-prev-next-button.next {
  right: -50px; }

button.flickity-prev-next-button.previous {
  display: none; }

.album-title {
  font-size: 6rem;
  z-index: 9; }

main {
  width: 70%;
  float: left; }

aside {
  width: 20%;
  float: left; }

h3 {
  text-align: left;
  padding: 0; }

.thumbnail img {
  width: 50px;
  cursor: crosshair; }

.randomobject {
  display: none; }

.object img {
  width: 200px; }

.object-gallery li {
  float: left; }

.visible {
  display: block; }

.object-thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

footer {
  text-align: right;
  padding-right: 25px;
  font-size: 1rem;
  margin-top: 100px; }

body {
  font-family: Helvetica, sans-serif;
  background: #010511;
  color: #0ff;
  font-size: 62.5%;
  font-size: 1.2rem; }

.wrapper {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }
  ul li img {
    display: block; }
