
$accent: #0ff;
$background:#010511;

@font-face {
  font-family: 'alien';
  src: url('../fonts/alien.ttf')  format('truetype');  
}

@font-face {
  font-family: 'vcr'; 
  src: url('../fonts/vcr.ttf')  format('truetype');  
}

@font-face {
  font-family: 'streamster'; 
  src: url('../fonts/streamster.ttf')  format('truetype');  
}


@import "partials/normalize";
@import "partials/header";
@import "partials/builder";


body {
	font-family: Helvetica, sans-serif;
	background:$background;
	color: $accent;
	font-size: 62.5%;
	font-size: 1.2rem;
} 

.wrapper{
	max-width: 1170px;
	width: 90%;
	margin: 0 auto;
}


ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	li{
		img{
			display: block;
		}		
		
	}
}

